<!DOCTYPE html>
<html>
<head>
  <title>Delete a Student</title>
</head>
<body>
  <form action="/xyz" method="POST">
    <input type="text" name="name" placeholder="Name">
    <!-- <input type="text" age="age" placeholder="Age">-->
    <button type="submit">Save</button>
  </form>
</body>
</html>
